extends ../layout

block content
    a(href='/bicicletas') volver
    br
    br
    h1 Nueva bicicleta
    br
    form(action='/bicicletas/create' method='POST')
        .form-group
            label(for='id') Id
            input#id.form-control(type='text' name='id')
        .form-group
            label(for='color') Color
            input#color.form-control(type='text' name='color')
        .form-group
            label(for='modelo') Modelo
            input#modelo.form-control(type='text' name='modelo')
        .form-group
            label(for='lat') Latitud
            input#lat.form-control(type='text' name='lat')  
        .form-group
            label(for='lng') Longitud
            input#lng.form-control(type='text' name='lng')  

        button.btn.btn-primary(type='submit') Ok
